<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whn.personal.modules.charge.mapper.ChargeMapper">
    <resultMap id="BaseResultMap" type="com.whn.personal.modules.charge.domain.Charge">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="amount" property="amount" jdbcType="DECIMAL"/>
        <result column="label" property="label" jdbcType="VARCHAR"/>
        <result column="mark" property="mark" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="CHAR"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, amount, label, mark, type, user_id, create_time
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from charge
        where id = #{id,jdbcType=VARCHAR}
    </select>

    <select id="selectAll" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from charge
        <where>
            <if test="yearAndMonth != null and yearAndMonth != ''">
                left(create_time, 7) = #{yearAndMonth}
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="selectYearMonth" resultType="java.util.List" parameterType="java.lang.String">
        select DISTINCT left(create_time, 7)
        from charge
        where user_id = #{userId}
        order by create_time desc
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from charge
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.whn.personal.modules.charge.domain.Charge">
        insert into charge (id, amount, label,
        mark, type, user_id, create_time
        )
        values (#{id,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL}, #{label,jdbcType=VARCHAR},
        #{mark,jdbcType=VARCHAR}, #{type,jdbcType=CHAR}, #{userId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.whn.personal.modules.charge.domain.Charge">
        insert into charge
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="amount != null">
                amount,
            </if>
            <if test="label != null">
                label,
            </if>
            <if test="mark != null">
                mark,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="amount != null">
                #{amount,jdbcType=DECIMAL},
            </if>
            <if test="label != null">
                #{label,jdbcType=VARCHAR},
            </if>
            <if test="mark != null">
                #{mark,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=CHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.whn.personal.modules.charge.domain.Charge">
        update charge
        <set>
            <if test="amount != null">
                amount = #{amount,jdbcType=DECIMAL},
            </if>
            <if test="label != null">
                label = #{label,jdbcType=VARCHAR},
            </if>
            <if test="mark != null">
                mark = #{mark,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=CHAR},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.whn.personal.modules.charge.domain.Charge">
        update charge
        set amount = #{amount,jdbcType=DECIMAL},
        label = #{label,jdbcType=VARCHAR},
        mark = #{mark,jdbcType=VARCHAR},
        type = #{type,jdbcType=CHAR},
        user_id = #{userId,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=VARCHAR}
    </update>

</mapper>